<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/login.css">

    <title>Sign up</title>
  </head>
  <body>
    <div class="container-fluid">
        <form class="mx-auto">
            <h4 class="text-center">Sign up</h4>
            <div class="mb-3">
                <label for="exampleInputFirstName" class="form-label">Firstname</label>
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputLastName" class="form-label">Lastname</label>
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 mt-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
           
            <button type="submit" class="btn btn-primary mt-5">Sign up</button>
          </form>
    </div>

    <script>
    
    function createUser() {
      const username = document.getElementById('signupUsername').value; // Adjust ID as necessary
      const password = document.getElementById('signupPassword').value; // Adjust ID as necessary
      const fullName = document.getElementById('signupFullName').value; // Adjust ID as necessary
    
      fetch('/api/signup', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ username, password, fullName })
      })
      .then(response => response.json())
      .then(data => {
        if(data.success) {
          // Handle successful account creation
          alert('Account created successfully!');
        } else {
          // Handle signup failure
          alert('Signup failed.');
        }
      })
      .catch(error => console.error('Error:', error));
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>