<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="/images/play-circle-outline.svg">
        <link rel="stylesheet" href="/stylesheets/wishlist.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>Wishlist</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-transparent" id="mainNav">
            <div class="container px-6">
                <h1 class="fw-bolder">
                    <a class="navbar-brand" href="index.html">FindFlix</a>
                </h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li id="logoutButton" class="nav-item"><a class="nav-link" href="#">Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="wishlist-title">
            <h2>Wishlist</h2>
        </div>
        <!-- <div class="Welcome-wishlist">Welcome <span id="userFullname"></span></div> -->
        <div id="wishlistContainer">
            <h2>Movies</h2>
            <div id="movies-section">
            </div>
            <h2>Books</h2>
            <div id="books-section">
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="/javascripts/login.js"></script>
        <script src="/javascripts/wishlist_handle.js"></script>
        <script src="/javascripts/wishlist.js"></script>

        <footer class="py-4 bg-dark bg-transparent">
            <div id="footer" class="container px-4">
                <p class="m-0 text-center text-white">Copyright &copy; FindFlix 2024</p>
            </div>
        </footer>

    </body>

</html>