<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="icon" type="image/x-icon" href="/images/play-circle-outline.svg">
        <title>FindFlix</title>
        <!-- Bootstrap CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/backgrund.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-transparent" id="mainNav">
            <div class="container px-6">
                <h1 class="fw-bolder">
                    <a class="navbar-brand" href="#">FindFlix</a>
                </h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="login.html">Log in</a></li>

                        <li class="nav-item"><a class="nav-link" href="signup.html">Sign up</a></li>
                        <li class="nav-item"><a class="nav-link" href="wishlist.html">Watchlist</a></li>

                    </ul>
                </div>
            </div>
        </nav>
       
        <section class="wishlist">
            <h2 class="wishlist-h2">Wishlist</h2>
            <h3 class="wishlist-h3">Movies</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeMovieBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeMovieBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeMovieBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeMovieBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="wishlist">
            <h3 class="wishlist-h3">Books</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeBookBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeBookBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeBookBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wishlist-card">
                        <img src="https://media.vanityfair.com/photos/65d602a3889ccabc5975eb5c/1:1/w_2160,h_2160,c_limit/dune-part-two-review.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a id="removeBookBtn" class="btn btn-danger btn-lg px-4 me-sm-3" href="#">Remove from watchlist</a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
             document.getElementById('removeMovieBtn').addEventListener('click', function() {
                const movieId = document.getElementById('movie-title').innerText;
                // A POST request to the route '/remove-movie' in wishlist.js
                fetch('/remove-movie', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        // You may need to pass some identifier for the movie you want to remove,
                        // such as movie ID or title
                    })
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Movie removed from watchlist successfully');
                    } else {
                        console.error('Error removing movie from watchlist');
                    }
                })
                .catch(error => console.error('Error:', error));
            });
            
            document.getElementById('removeBookBtn').addEventListener('click', function() {
                // Get the book ID or title from the page
                const bookId = document.getElementById('book-title').innerText; // Assuming you have an element with ID 'bookId' containing the book ID
                // A POST request to the route '/remove-book' in wishlist.js
                fetch('/remove-book', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        bookId: bookId 
                    })
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Book removed from watchlist successfully');
                    } else {
                        console.error('Error removing book from watchlist');
                    }
                })
                .catch(error => console.error('Error:', error));
            });



        </script>    
        


        <!-- Footer-->
        <footer class="py-4 bg-dark bg-transparent">
            <div class="container px-4">
                <p class="m-0 text-center text-white">Copyright &copy; FindFlix 2024</p>
            </div>
        </footer>
        
        <!-- Bootstrap core JS (included already) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="/javascripts/home_script.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>

</html>