@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #bababa;
    overflow: hidden;
    z-index: -1;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
    z-index: -1;
}

.background li:nth-child(0) {
    left: 25%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 32%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 3s;
}

.background li:nth-child(2) {
    left: 36%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 1s;
}

.background li:nth-child(3) {
    left: 82%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 11s;
}

.background li:nth-child(4) {
    left: 44%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 20s;
}

.background li:nth-child(5) {
    left: 12%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 4s;
}

.background li:nth-child(6) {
    left: 81%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 28s;
}

.background li:nth-child(7) {
    left: 5%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 1s;
}

.background li:nth-child(8) {
    left: 68%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 34s;
}

.background li:nth-child(9) {
    left: 89%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 10s;
}