body,
html {
    background-color: #151515;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.navbar-brand{
    letter-spacing: 0.1cap;
    transition: 0.7s;
}


.navbar-brand:hover{
    letter-spacing: 0.2cap;
    transition: 0.7s;
}

.navbar-nav{
    gap: 1em;
}

#searchInput{
    padding-left: 20px;
}


.category-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px;
    gap: 0.5em;
}

.category-btn {
    flex: 1 1 auto;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: bold;
    letter-spacing: 0.2cap;
    max-width: 28%;
    color: #ffffff;    
}

.category-btn {
    background-color: #0766AD;
    border-radius: 20px;
    border-style: none;
}

.category-btn:hover {
    background-position: right center;
    letter-spacing: 0.5cap;
    color: #000000;
}


.swiper {
    width: 100%;
    height: 30vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.search-bar {
    padding: 20px;
    margin: 0px 22% 20px;
}

.d-flex{
    height: 50px;
    flex-direction: row;
}


.d-flex .form-control{
    border-radius: 20px;
}

.d-flex .btn{
    background-color: 378CE7;
    border: none;
    color: white;
    border-radius: 20px;
    width: 30%;
    letter-spacing: 0.2cap;
    transition: 0.7s;
    background-color: #0766AD;
}

.d-flex .btn:hover {
    background-position: right center;
    letter-spacing: 0.5cap;
}


/**Movie slider**/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    min-width: 200px;
    min-height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.2s;
    border: none;
}

.card:hover {
    transform: scale(1.05);
    border: none;
}

a.card-link {
    text-decoration: none;

}

.card img.card-poster {
    width: 100%;
    height: auto;
}

.card-info {
    padding: 10px;
    margin-bottom: 0px;
}


.card-info .card-title{
    font-size: 18px;
    font-weight: bold;
}


.card-info .card-plot {
    font-size: 14px;
}

.card-title,
.card-plot {
    font-size: calc(12px + 0.5vw);
    color: #333;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .card {
        max-width: none;
    }
}



#similarResults{
    padding-top: 50px;
}
.results-heading {
    font-size: 35px;
    font-style: bold;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
    letter-spacing: 0.2cap;
}


.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.star-rating {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}