body,
html {
    background-color: #151515;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background: #151515;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.navbar-brand {
    letter-spacing: 0.1cap;
    transition: 0.7s;
}


.navbar-brand:hover {
    letter-spacing: 0.2cap;
    transition: 0.7s;
}

.navbar-nav {
    gap: 1em;
}

.container-fluid {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    background-color: #333;
    padding: 50px;
    border-radius: 20px;
}

.container-fluid a {
    color: rgb(255, 255, 255);
}


/* Login and SignUp*/
.form-container {
    background-color: rgb(179, 179, 179);
    margin: auto;
    padding: 50px;
    min-width: 40%;
    max-width: 50%;
    border-radius: 20px;
}

.form-container form {
    margin: 0px;
}

.form-container .text-center {
    text-transform: uppercase;
}

.wishlist-title {
    padding-top: 20px !important;
    letter-spacing: 0.2cap;
}

.Welcome-wishlist,
.wishlist-title {
    text-align: center;
    color: aliceblue;
    padding: 5px;
}

.Welcome-wishlist {
    font-size: 18px;
}



/*Wishlist*/
#wishlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 20px;
    width: 100%;
}

#wishlistContainer>h2 {
    padding-top: 20px;
    text-align: center;
    padding-left: 20px;
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 34px;
    letter-spacing: 0.2cap;
}


#movies-section,
#books-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    height: auto;
    border: none;

}

.card:hover {
    transform: scale(1.05);
}

.card-link {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.movie-poster,
.book-cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-info {
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
}

.card p {
    margin: 10px 0;
    text-align: left;
    color: #000000;
}


.card h3 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.centered-message {
    text-align: center;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    grid-column: 1 / -1;
}

@media (max-width: 767px) {
    .card {
        width: 100%;
        margin: auto;

    }

    #wishlistContainer>h2 {
        text-align: center;
        padding-left: 0;
    }
}